#startButton {
  margin-top: 20px;
  margin-left: 50px;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
}

.container {
  display: flex;
}


.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color:#b4b4b4;
}
 .grid div {
   height: 20px;
   width: 20px;
   /* background-color:#357bb9; */
 }
 .tetromino {
   background: black;
 }

.miniGrid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color:#a7a7a7;
}
.miniGrid div {
  height: 20px;
  width: 20px;
}
